.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

mat-card {
  background: #212121;
  color: white;
  padding: 2rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #ff6f00 !important; /* Dark Orange */
  color: white !important;
}

button:hover {
  background-color: #e65100 !important; /* Deeper Orange */
}

h2 {
  margin-bottom: 1rem;
  font-weight: 500;
}
