<mat-tab-group [(selectedIndex)]="activeTabIndex" (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Admin"></mat-tab>
  <mat-tab label="User"></mat-tab>
</mat-tab-group>

<ng-container *ngIf="activeTabIndex >= 0">
<form [formGroup]="form" (ngSubmit)="onSubmit()" cdkDropList (cdkDropListDropped)="drop($event)">
  <div *ngFor="let field of formConfig; let i = index" cdkDrag>
    <div [ngSwitch]="field.type" class="field-block">

      <mat-form-field *ngSwitchCase="'text'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <textarea *ngIf="field.multiline" matInput [formControlName]="field.name"></textarea>
        <input *ngIf="!field.multiline" matInput [formControlName]="field.name" />
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'select'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select [formControlName]="field.name">
          <mat-option *ngFor="let opt of field.options" [value]="opt">{{ opt }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngSwitchCase="'radio'" class="radio-group">
        <label>{{ field.label }}</label>
        <mat-radio-group [formControlName]="field.name">
          <mat-radio-button *ngFor="let opt of field.options" [value]="opt">{{ opt }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngSwitchCase="'checkbox'" class="checkbox-group">
        <label>{{ field.label }}</label>
        <div *ngFor="let opt of field.options; let j = index">
          <mat-checkbox [formControl]="getCheckboxControl(field.name, j)">{{ opt }}</mat-checkbox>
        </div>
        <div *ngIf="isCheckboxGroupInvalid(field.name)" class="error">Please select at least one</div>
      </div>

      <mat-form-field *ngSwitchCase="'date'" appearance="outline" class="full-width">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [matDatepicker]="picker" [formControlName]="field.name">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button *ngIf="activeTabIndex === 0" mat-icon-button color="warn" type="button" (click)="removeField(field.name)" aria-label="Remove field">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
    <button mat-stroked-button type="button" (click)="onReset()">Reset</button>
    <button *ngIf="activeTabIndex === 0" mat-stroked-button color="accent" type="button" (click)="addField()">Add Field</button>
  </div>
</form>
</ng-container>



<div *ngIf="submittedData" class="submitted-table">
  <h3>Submitted Data</h3>
  <table mat-table [dataSource]="formConfig" class="mat-elevation-z2 full-width">

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef> Field </th>
      <td mat-cell *matCellDef="let field"> {{ field.label }} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let field">
        <ng-container *ngIf="field.name !== 'checkboxes'; else checkboxBlock">
          {{ submittedData[field.name] }}
        </ng-container>
        <ng-template #checkboxBlock>
          {{ submittedData.checkboxes?.join(', ') || 'None' }}
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['label', 'value']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['label', 'value']"></tr>
  </table>
</div>